/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* CABEÇALHO */

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #080808;

    padding: 20px 5%;
}

.logo {
    color: #e50914;
    font-size: 28px;
    font-weight: 800;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #e50914;
}


/* BANNER */

.banner {
    min-height: 450px;

    display: flex;
    align-items: center;

    padding: 50px 5%;

    background-image:
        linear-gradient(
            to right,
            #000 0%,
            rgba(0, 0, 0, 0.8) 40%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        url("https://images.unsplash.com/photo-1519608487953-e999c86e7455?w=1600&h=900&fit=crop");

    background-size: cover;
    background-position: center;
}

.banner-conteudo {
    max-width: 550px;
}

.categoria {
    color: #e50914;
    font-size: 13px;
    font-weight: bold;
}

.banner h2 {
    font-size: 42px;
    margin: 15px 0;
}

.descricao {
    color: #ddd;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 20px;
}


/* BOTÕES */

.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    border: none;
    padding: 13px 22px;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
}

.assistir {
    background-color: white;
    color: black;
}

.assistir:hover {
    background-color: #ccc;
}

.informacoes {
    background-color: #555;
    color: white;
}

.informacoes:hover {
    background-color: #777;
}


/* CATÁLOGO */

.catalogo {
    padding: 25px 5%;
}

.catalogo h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.lista-filmes {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.filme {
    width: 170px;
    cursor: pointer;
}

.filme img {
    width: 100%;
    height: 250px;

    object-fit: cover;

    border-radius: 5px;
}

.filme h3 {
    font-size: 14px;
    margin-top: 8px;
}

.filme p {
    color: #aaa;
    font-size: 12px;
}


/* RODAPÉ */

footer {
    padding: 40px 5%;
    color: #777;
    font-size: 12px;
}


/* RESPONSIVIDADE */

@media (max-width: 700px) {

    .topo {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        min-height: 400px;
        padding: 30px 5%;
    }

    .banner h2 {
        font-size: 30px;
    }

    .descricao {
        font-size: 13px;
    }

    .lista-filmes {
        gap: 12px;
    }

    .filme {
        width: calc(50% - 6px);
    }

    .filme img {
        height: 230px;
    }
}